<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2015 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
          package="com.afwsamples.testdpc"
          tools:ignore="MissingClass"
           android:versionCode="9004"
           android:versionName="9.0.4">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.google.android.setupwizard.SETUP_COMPAT_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CERTIFICATES"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_SYSTEM_UPDATE_INFO"/>

    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
 
    <!-- TODO(b/201271137): Add non-testOnly build config. -->
    <!-- NOTE: android:testOnly will be stripped by build.gradle (stripTestOnlyForBuild()) -->
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:banner="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">

      <activity
            android:name=".PolicyManagementActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        <intent-filter>
            <action android:name="android.app.action.CHECK_POLICY_COMPLIANCE"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>

        <activity
                android:name=".SetupManagementActivity"
                android:theme="@style/SudThemeGlifV3.Light"
                android:label="@string/setup_app_name"
                android:taskAffinity="">
        </activity>

        <activity-alias
                android:name=".SetupManagementLaunchActivity"
                android:exported="true"
                android:targetActivity=".SetupManagementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name=".AddAccountActivity"
                android:exported="false"
                android:label="@string/app_name"
                android:theme="@style/SudThemeGlifV3.Light"/>

        <activity
                android:name=".FinalizeActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/SudThemeGlifV3.Light"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".cosu.EnableCosuActivity"
                android:exported="false"
                android:label="@string/app_name"
                android:theme="@style/SudThemeGlifV3.Light"/>

        <activity
                android:name=".policy.locktask.KioskModeActivity"
                android:exported="true"
                android:label="@string/kiosk_mode"
                android:launchMode="singleInstance"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".provision.GetProvisioningModeActivity"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"
                android:theme="@style/DpcLoginTheme">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".provision.ProvisioningSuccessActivity"
                android:exported="true"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".WorkPolicyInfoActivity"
             android:label="@string/work_policy_info_name"
             android:exported="true"
             android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.settings.SHOW_WORK_POLICY_INFO"/>
            </intent-filter>
        </activity>

        <activity android:name="android.app.Activity" android:exported="true" android:permission="android.permission.LAUNCH_DEVICE_MANAGER_SETUP">
            <intent-filter>
                <action android:name="android.app.action.ROLE_HOLDER_PROVISION_MANAGED_DEVICE_FROM_TRUSTED_SOURCE" />
                <action android:name="android.app.action.ROLE_HOLDER_PROVISION_MANAGED_PROFILE" />
                <action android:name="android.app.action.ROLE_HOLDER_PROVISION_FINALIZATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
                android:name=".DeviceAdminReceiver"
                android:exported="true"
                android:description="@string/app_name"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                    android:name="android.app.device_admin"
                    android:resource="@xml/device_admin_receiver"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED"/>
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name=".DelegatedAdminReceiver"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.CHOOSE_PRIVATE_KEY_ALIAS"/>
                <action android:name="android.app.action.NETWORK_LOGS_AVAILABLE"/>
                <action android:name="android.app.action.SECURITY_LOGS_AVAILABLE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".policy.resetpassword.ResetPasswordService$LockedBootCompletedReceiver"
                android:enabled="@bool/is_o_or_later"
                android:exported="true"
                android:directBootAware="true" >
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".policy.resetpassword.ResetPasswordService"
                android:enabled="@bool/is_o_or_later"
                android:exported="false"
                android:directBootAware="true" >
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <provider
                android:authorities="com.afwsamples.testdpc.fileprovider"
                android:name="androidx.core.content.FileProvider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

        <provider
                android:authorities="com.afwsamples.testdpc.usericoncontentprovider"
                android:name="com.afwsamples.testdpc.UserIconContentProvider"
                android:grantUriPermissions="true"
                android:exported="true">
        </provider>

        <service android:name=".profilepolicy.apprestrictions.AppRestrictionsProxy"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.dpc.APPLICATION_RESTRICTIONS_PROXY" />
            </intent-filter>
        </service>

        <service
                android:name=".comp.ProfileOwnerService"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"/>

        <service
                android:name=".comp.DeviceOwnerService"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN"/>

        <service
                android:name=".DeviceAdminService"
                android:enabled="@bool/is_o_or_later"
                android:exported="true"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_SERVICE" />
            </intent-filter>
        </service>

        <service android:name=".feedback.AppStatesService"
                 android:exported="false">
          <intent-filter>
            <action android:name="androidx.enterprise.feedback.action.APP_STATES" />
          </intent-filter>
        </service>

    </application>

</manifest>
