<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afwsamples.testdpc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PolicyManagementActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.app.action.CHECK_POLICY_COMPLIANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetupManagementActivity"
            android:label="@string/setup_app_name"
            android:taskAffinity=""
            android:theme="@style/SuwThemeGlifV3.Light"></activity>
        <activity
            android:name=".AddAccountActivity"
            android:label="@string/app_name"
            android:theme="@style/SuwThemeGlifV3.Light" />

        <activity
            android:name=".FinalizeActivity"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:theme="@style/SuwThemeGlifV3.Light">
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cosu.EnableCosuActivity"
            android:label="@string/app_name"
            android:theme="@style/SuwThemeGlifV3.Light" />
        <activity
            android:name=".policy.locktask.KioskModeActivity"
            android:enabled="false"
            android:label="@string/kiosk_mode"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".provision.DpcLoginActivity"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:theme="@style/DpcLoginTheme">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".provision.ProvisioningSuccessActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".SetupManagementLaunchActivity"
            android:targetActivity=".SetupManagementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity-alias>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.afwsamples.testdpc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver
            android:name=".ApkInstaller"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED" />
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
        </receiver>
        <receiver
            android:name=".DelegatedAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.CHOOSE_PRIVATE_KEY_ALIAS" />
                <action android:name="android.app.action.NETWORK_LOGS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".policy.resetpassword.ResetPasswordService$LockedBootCompletedReceiver"
            android:directBootAware="true"
            android:enabled="@bool/is_o_or_later">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".policy.resetpassword.ResetPasswordService"
            android:directBootAware="true"
            android:enabled="@bool/is_o_or_later"></service>

        <service android:name=".profilepolicy.apprestrictions.AppRestrictionsProxy">
            <intent-filter>
                <action android:name="com.android.vending.dpc.APPLICATION_RESTRICTIONS_PROXY" />
            </intent-filter>
        </service>
        <service
            android:name=".comp.ProfileOwnerService"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" />
        <service
            android:name=".comp.DeviceOwnerService"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" />
        <service
            android:name=".DeviceAdminService"
            android:enabled="@bool/is_o_or_later"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_SERVICE" />
            </intent-filter>
        </service>
        <service android:name=".feedback.AppStatesService">
            <intent-filter>
                <action android:name="androidx.enterprise.feedback.action.APP_STATES" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_PASSWORD_COMPLEXITY" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>